body {
    background-color: #8da750;
    color: rgb(240, 248, 255);
    /* font-family: "Helvetica", "Times New Roman"; */
    font-size: 1.3em;
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center-align the text */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold text */
}

a {
    color: rgb(240, 248, 255);
}

.big-text{
    text-align: center;
}

.big-text h3{
    font-size: 30;
}


.information{
    text-align: center;
}

.StartButton {
    background-color: #2e2e2e;
    color: rgb(253, 247, 247);
    font-size: 30px;
    width: 150px; /* Change this to the desired width */
    height: 50px;
    text-align: center;
}

.information h2 {
    font-size: 20px; 
}

h1 {
    padding-top: 60px;
    font-size: 300%;
}

h3 {
    padding-bottom: 50px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.nature-bg-div{
    background-image: url("images/nature.jpeg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    color: #FFFFFF;
    align-items: center;
    text-align:center;
    width: 100%;
    height: 100%;
    padding-top: 100px;
}

.big-image {
    height: 100vh;
}

.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.slide {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.slide.active {
    display: flex;
}

.info {
    text-align: center;
}

.arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.arrow.left {
    left: 0;
}

.arrow.right {
    right: 0;
}

img {
    margin-top: 20px;
    width: 400px;
    height: 300px;
    object-fit: cover;
}




