body {
    background-color: rgb(141, 167, 80);
    color: rgb(240, 248, 255);
    /* font-family: "Helvetica", "Times New Roman"; */
    font-size: 1.3em;
}

.header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center-align the text */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold text */
}

a {
    color: rgb(240, 248, 255);
}

.big-text{
    text-align: center;
}

