body {
    background-color: rgb(141, 167, 80);
    color: rgb(240, 248, 255);
    /* font-family: "Helvetica", "Times New Roman"; */
    font-size: 1.3em;
}

.header {
    background-color: #333; /* Background color */
    color: #fff; /* Text color */
    padding: 20px; /* Padding around the content */
    text-align: center; /* Center-align the text */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Bold text */
}

a {
    color: rgb(240, 248, 255);
}

.big-text{
    text-align: center;
}

.information{
    text-align: center;
}

.StartButton {
    background-color: #2e2e2e;
    color: rgb(253, 247, 247);
    font-size: 30px;
    width: 150px; /* Change this to the desired width */
    height: 50px;
    text-align: center;
}

.information h2 {
    font-size: 20px; 
}


